# Visual Studio Code
.vscode/

# Visual Studio cache directory
.vs/

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono)
*.userprefs

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio 2019 config folder
.vs2019/
